@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body,html {
	--BG-col:#d2b7f3;
    --Header-Col:#edede9;
    --Header-Height:170px;
    --Data-Colour:#e1e0da;
    --Info-Colour:#cfcec7;
	--Another-Colour:#c1bfb2;
    --Text-Padding:10px;
    background-color:var(--BG-col);
	display:flex;
    flex-direction:column;
    justify-content:center;
    gap:6px;
    margin-right:1%;
    margin-left:1%;
    height:fit-content;
}

body,html h2 {
    font-family: "DM Serif Display", serif;
}
body,html p {
    font-family: "Playfair Display", serif;
}

.hidden {
    opacity:0;
}

.hiddenAnimationLeft{
	opacity:0;
	filter:blur(5px);
	transform:translateX(-100%);
	transition: all 1s ease;
}

.hiddenAnimationRight{
	opacity:0;
	filter:blur(5px);
	transform:translateX(100%);
	transition: all 1s ease;
}


.header {
    position:absolute;
    color:#edede9;
    display:flex;
    width: 100%;
    transition: all 0.5s ease;
}

.Cont {
    background-color:var(--Header-Col);
    position:fixed;
    border-radius: 15px;
    padding: 5px 10px 2px 10px;
    height:var(--Header-Height);
    z-index: 10;
    transition: all 0.5s ease;
    margin-top: 6px;
	width:96%;
}


.Logo img {
    position:relative;
    top:45px;
    left:50%;
    transform: translate(-50%, -50%);
    height:100px;
    width:100px;
    transition: all 0.5s ease;
}

.LogoSide img {
    position:relative;
    top:45px;
    left:40px;
    transform: translate(-50%,-50%);
    height:80px;
    width:80px;
    transition: all 0.5s ease;   
}

.ButtonBox{
    z-index:11;
    display:flex;
    background-color: #1650a8    ;
    overflow: auto;
    scrollbar-width:none;
    border-radius: 7px;
    padding: 5px 10px;
    position: absolute;
    top: 135px;
    left:3%;
    transform: translate(-0%, -50%);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    width: 94%;
    transition: all 0.5s ease;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2px;
    text-wrap:nowrap;
    flex-wrap: nowrap;
    transition: all 0.5s ease;  
}

.ButtonBoxAlt {
    z-index:11;
    display:flex;
    background-color: #1650a8;
    overflow-x:auto;
    scrollbar-width:none;
    border-radius: 7px;
    padding: 2px 5px;
    position: absolute;
    top: 50px;
    left:calc(100vw - 800px);
    transform: translate(0%, -50%);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease;
    width:670px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2px;
    text-wrap:nowrap;
    flex-wrap: nowrap;
    transition: all 0.5s ease;  
}
.ContactUsData {
    display: grid;
    position:relative;
    top:calc(var(--Header-Height) + 10px);
    background-color:var(--Data-Colour);
    border-radius: 15px;
    grid-template-columns: 1fr 1fr;
    overflow-x: hidden;
    height:fit-content;
    padding-bottom:5px;
    padding: 30px;
}

.Contact {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-top: 1.5em;
}
.MailHolder{
	display:grid;
	gap:5px;
}

.Mail {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 100%;
  flex-direction: column;
  gap: 35px;
  border-radius: 15px;
  background: #e3e3e3;
  box-shadow: 16px 16px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
  border-radius: 8px;
}

.inputBox {
  position: relative;
  width: 250px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.Fix input:valid~span,
.Fix input:focus~span {
  transform: translateX(156px) translateY(-15px);
}

.inputBox input:valid,
.inputBox input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 3em;
}

.enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

#input-sizer {
    white-space: pre;
    word-wrap: break-word;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
}

.SocialsHolder{
	z-index: 99999;
	display:flex;
	flex-wrap: wrap;
	background-color:#e3e3e3;
	border-radius: 9px;
	height: 140px;
	padding: 30px;
	justify-content: space-evenly;
	align-content: center;
}

.tooltip-container {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  border-radius: 10px;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 15px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.profile {
  background: #2a2b2f;
  border-radius: 10px 15px;
  padding: 10px;
  border: 1px solid #52382f;
}

.tooltip-container:hover .tooltip {
  top: -130px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.icon {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}
.layer {
  width: 55px;
  height: 55px;
  transition: transform 0.3s;
}
.icon:hover .layer {
  transform: rotate(-35deg) skew(20deg);
}
.layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 15px;
  transition: all 0.3s;
}

.layer span,
.text {
  color: #e6683c;
  border-color: #e6683c;
}

.icon:hover.layer span {
  box-shadow: -1px 1px 3px #e6683c;
}
.icon .text {
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}
.icon:hover .text {
  bottom: -35px;
  opacity: 1;
}

.icon:hover .layer span:nth-child(1) {
  opacity: 0.2;
}
.icon:hover .layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}
.icon:hover .layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}
.icon:hover .layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}
.icon:hover .layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}

.instagramSVG {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.user {
  display: flex;
  gap: 10px;
}
.img {
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: 700;
  border: 1px solid #e6683c;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.name {
  font-size: 17px;
  font-weight: 700;
  color: #e6683c;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 0;
  color: #fff;
}
.about {
  color: #ccc;
  padding-top: 5px;
}

