@import 'NavigationBtn.css';
@import 'ESButton.css';
@import 'Socials.css';

.ContactUsData {
  display: grid;
  position: relative;
  top: calc(var(--Header-Height) + 6px);
  background-color: var(--Data-Colour);
  border-radius: 15px;
  grid-template-columns: 1fr 1fr;
  overflow-x: hidden;
  height: fit-content;
  padding-bottom: 5px;
  padding: 30px;
  gap: 5px;
}
.Contact {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-top: 1.5em;
}
.MailHolder{
	display:grid;
	box-shadow: 16px 16px 32px #c8c8c8, -16px -16px 32px #fefefe;
  border-radius: 15px;
}

.Mail {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 100%;
  flex-direction: column;
  gap: 35px;
  background: #e3e3e3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.inputBox {
  position: relative;
  width: 75%;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateX(1px) translateY(-24px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.Fix input:valid~span,
.Fix input:focus~span {
  transform: translateX(156px) translateY(-15px);
}

.inputBox input:valid,
.inputBox input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 3em;
}

.enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

#input-sizer {
    white-space: pre;
    word-wrap: break-word;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
}

.SocialsHolder{
	z-index: 9;
	display:flex;
	flex-wrap: wrap;
	background-color:#e3e3e3;
	height: 140px;
	padding: 20px;
	justify-content: space-evenly;
	align-content: end;
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
	border-top-color: black;
	border-top-width: 1px;
}

.SocialsHolder h1 {
  position: absolute;
  font-size: 26px;
  font-weight: bold;
}

.social-links,.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  background: white;
  margin: 5px;
  transition:0.5s ;
  justify-content: center;
}

.social-btn svg {
  height: 24px;
  width: 24px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
  margin-left: 5px;
  text-wrap: nowrap;
}

.social-btn:hover {
  width: 372px;
  border-radius: 5px;
  transition: 0.5s;
  padding: 10px;
}

.social-btn:hover span {
  padding: 5px;
  width: 372px;
  transition: 0.5s;
}

#twitter svg {
  fill: #1da1f2;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}

.Footer {
  top: calc(var(--Header-Height) + 6px);
}

@media screen and (max-width: 800px) {
	.ContactUsData{
		grid-template-columns: 1fr;
		grid-template-rows:1fr,
	}
  .Map {
    height: 400px;
  }
}