@import 'Default.css';
@import 'NavigationBtn.css';
@import 'ESButton.css';
@import 'Socials.css';
@import 'Animations.css';


.RiveHolder {
    border-radius: 15px;
    position: relative;
    top: 110px;
    text-align: center;
    margin-left: 1%;
}

.CanvasScroller {
    position: relative;
    text-align: center;
    height: calc(calc(100vh - 100px)* 3);
    background-color: #cb90e5;
    border-radius: 15px;
}

#canvas1{
    z-index: 5;
    pointer-events: none;
    position: sticky;
    top:116px;
    height:calc(100vh - 100px);
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
}

#canvas2 ,#canvas3,#canvas4,#canvas5 {
    position: relative;
    top: 116px;
    pointer-events: none;
    height: calc(100vh - 100px);
    background-color: #cb90e5;
    border-radius: 15px;
    width: 99%;
    text-align: center;
    margin-bottom: 6px;
    align-self: center;
    margin-left: 1%;
}

.TrackContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
    top: calc(var(--Header-Height) + 6px);
    background-color: #cb90e5;
    background-image:url("../assets/BG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    text-align: center;
    align-self: center;
    padding: 40px;
    font-family: 'Mohave', sans-serif;
    margin-right: 1%;
    margin-left: 1%;
}


.TrackContainer h1{
    font-weight: bolder;
    text-align:left;
    margin:0px;
    font-size: 6dvh;
}

.TrackContainer h2{
    font-family: 'Mohave', sans-serif;
    font-weight: bold;
    text-align: left;
    margin:0px;
    font-size: 5dvh;
}

.TrackContainer p{
  padding:10px;
}

.Right h1 {
  text-align:right;
}

.Right h2 {
  text-align:right;
}

.Written {
    font-family: 'Mohave', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Written p {
    font-family: 'Mohave', sans-serif;
}

.ParasLeft {
    grid-area: 1 / 1 / 2 / 2;
    text-align:left;
    font-size:4dvh;
    height: fit-content;
}

.ParasLeft p {
    margin:0px;
}
.ParasRight {
  text-align:left;
  font-size:4dvh;
  height: fit-content;
}

.ParasRight p {
  margin:0px;
}


@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  .AnimateLeft {
    opacity: 0; 
    transform: translateX(-100%); 
    transition: opacity 1s ease-out, transform 1s ease-out; 
    animation-delay: 0s; 
  }
  
  
  .in-view-Left {
    animation: slideInFromLeft 1s ease-out forwards;
  }
  
  .AnimateLeft:nth-child(1) {
    animation-delay: 0.2s;
  }
  .AnimateLeft:nth-child(2) {
    animation-delay: 0.4s;
  }
  .AnimateLeft:nth-child(3) {
    animation-delay: 0.6s;
  }
  .AnimateLeft:nth-child(4) {
    animation-delay: 0.8s;
  }
  .AnimateRight {
    opacity: 0; 
    transform: translateX(100%); 
    transition: opacity 1s ease-out, transform 1s ease-out; 
    animation-delay: 0s; 
  }
  
  
  .in-view-Right {
    animation: slideInFromRight 1s ease-out forwards;
  }
  
  
  
  .AnimateRight:nth-child(1) {
    animation-delay: 0.2s;
  }
  .AnimateRight:nth-child(2) {
    animation-delay: 0.4s;
  }
  .AnimateRight:nth-child(3) {
    animation-delay: 0.6s;
  }
  .AnimateRight:nth-child(4) {
    animation-delay: 0.8s;
  }
  
  .TrackContainer {
    overflow: hidden; 
  }
  
  h1, h2, p {
    margin: 0;
  }

.Images {
  position:relative;
  overflow:hidden;
}


@keyframes growHeight {
    from {
      height: 0;
      opacity: 0; 
    }
    to {
      height: 60%;
      opacity: 1; 
    }
  }
  
  
  .Grow {
    height: 0; 
    width: auto; 
    opacity: 0; 
    transition: height 1s ease-out, opacity 1s ease-out; 
  }
  
  
  .Grow.animate {
    animation: growHeight 1s ease-out forwards;
  }
  
  
  .Grow:nth-child(1) {
    position: absolute;
     top: 50%;
    left: 50%;
     transform: translate(-90%, -90%);
  }
  
  .Grow:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
     transform: translate(-10%, -10%);
  }
  
  @media screen and (max-width: 800px) {
  .Written {
    grid-template-columns:1fr;
    grid-template-rows:1fr 500px;
  }
      .ParasRight {
    grid-area: 1 / 1 / 2 / 2;
  }
  }
